 :root {  
 --primri-text-color: #434455;
 --title-text-color: #2E2F42;
 --accent-color: #404BBF;
 --lodo-accent: #4d5ae5;
 --primari-white-color: #FFFFFF;
 --secondary-bg-color: #F4F4FD;
 
  }

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--primri-text-color);
    background-color: var(--primari-white-color);
  }
  
  ul {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
    font-style: normal;
  }

  /* heder container */
  .container-header {
    display: flex;
    align-items: center;
  }

  /* header logo */
  .header-logo {
    margin-left: 156px;
    margin-right: 76px;
  }

 /* heder nav */
.seit-nav {
  display: flex;
 
}

.seit-nav .item {
  margin-right: 40px;
}

.seit-nav .item:last-child {
  margin-right: 0;
}

/* contact-heder */
.contact-heder {
  display: flex;
}

.contact-heder .item + .item {
  margin-left: 40px;
}
  
  /* Header */
    .header-logo {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

      font-family: 'Raleway', sans-serif;
      font-weight: 700;
      font-size: 18px;
      line-height: 1.17;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: var(--lodo-accent); 
    }
  
    .header-logo .accent-header {
      color: var(--title-text-color);
  } 
  
  .header-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
  }
  
  .header-link:hover {
    color: var(--accent-color);
  } 
  
  .header-link:focus {
    color: var(--accent-color);
  }
  
  .contact {
    font-style: normal;
  }
  
  .contact-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primri-text-color);
  }
  
  .contact-link:hover {
    color: var(--accent-color);
  }
  
  .contact-link:focus {
    color: var(--accent-color);
  }
  
  /* 1 Hero */
  .hero-section {
      background-color: var(--title-text-color);
  }
  
  .hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--primari-white-color);
    text-align: center;
    text-transform: uppercase;
  }
  
  .hero-button {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primari-white-color);
    background-color: var(--lodo-accent); 
    text-align: center;
  }
  
  
  
  
  .hero-button:hover {
  background-color: var(--accent-color); 
  }
  
  .hero-button:focus {
  background-color: var(--accent-color);
  }
  
  .hero-button {
  cursor: pointer;
  }
  
  /* 2 Benefit */
  .benefit-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
  }
  
  .benefit-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  
  /* 3 Person */
  .section-person {
  background-color: var(--secondary-bg-color); 
  }
  
  .person-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--title-text-color);
  }
  
  .list-person {
  background-color: var(--primari-white-color);
  }
  
  .person-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em; 
  color: var(--title-text-color);
  }
  
  .person-job {
    line-height: 1.5; 
    letter-spacing: 0.02em;
  }
  /*  4 Portfolio */
  .section-portfolio {
    background-color: var(--secondary-bg-color); 
  }
  .project-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42
  }
  .project-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-text-color);
  }
  
  .project-funktion {
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

    /*container-portfolio*/
    .container-portfolio {
      width: 1128px;
      padding-left: 0;
      padding-right: 0;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 120px;
    }
  
    .card-portfolio {
     padding: 0;
     margin: 0;
     list-style: none;
     display: flex;
     flex-wrap: wrap;
     margin-left: -24px;
     margin-top: -24px;
    }
  
  
  .card-portfolio .item {
    outline: 1px solid #E7E9FC;
    flex-basis: calc(100% / 3 -24px);
     margin-top: 48px;
     margin-left: 24px; 
  }
  
  .content-portfolio {
    margin-top: 32px;
    margin-right: 16px;
    margin-bottom: 32px; 
    margin-left: 16px;
  }
  
  .project-title {
    margin-bottom:72px;
    margin-top: 0;
  }
  
  /* Footer */
  .footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--lodo-accent); 
  }
  
  .footer-logo .accent {
    color: var(--secondary-bg-color); 
  }
  
  .footer-text {
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: var(--secondary-bg-color); 
    
  }
  
  footer {
    background-color: var(--title-text-color);
  }


/* person container */
.person-list {
  display: flex;
}

.person-list .person {
  margin-right: 24px;
}

.person-list .person:last-child {
  margin-right: 0;
}